.hero-products {
    position: relative;
}
.products {
    text-align: center;
    padding: 15rem 0;
    position: relative;
    z-index: 2;
}
.hero-products .products {
    padding: 15rem 0 0;
    position: relative;
    /* background-image: url("data:image/svg+xml,%3C!--%3Fxml version='1.0' standalone='no'%3F--%3E%3Csvg id='sw-js-blob-svg' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3ClinearGradient id='sw-gradient' x1='0' x2='1' y1='1' y2='0'%3E%3Cstop id='stop1' stop-color='rgba(118, 208, 210, 0.4)' offset='0%25'%3E%3C/stop%3E%3Cstop id='stop2' stop-color='rgba(118, 208, 210, 0.4)' offset='100%25'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='url(%23sw-gradient)' d='M16.2,-26.2C21.1,-25.3,25.1,-21.1,29.8,-16.1C34.5,-11.2,39.8,-5.6,40.7,0.5C41.5,6.6,37.8,13.1,32.9,17.6C28,22.2,21.8,24.6,16.1,22.8C10.4,21,5.2,15,1.7,12C-1.8,9.1,-3.6,9.2,-7.5,10C-11.5,10.8,-17.6,12.2,-23.3,10.7C-29,9.1,-34.2,4.6,-34,0.1C-33.8,-4.3,-28.1,-8.6,-22.4,-10.2C-16.7,-11.7,-11.1,-10.5,-7.3,-12C-3.6,-13.5,-1.8,-17.7,1.9,-21C5.7,-24.4,11.4,-27,16.2,-26.2Z' width='100%25' height='100%25' transform='translate(50 50)' stroke-width='0' style='transition: all 0.3s ease 0s;'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.products--svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--third-brand-color);
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products__svg {
    display: block;
    width: 100%;
    fill: var(--second-brand-color);
}
.products .container {
    position: relative;
}

.sub-title__box {
    position: relative;
    margin-bottom: 1rem;
    max-width: 140rem;
    margin-left: auto;
    margin-right: auto;
}
.hero-products .sub-title {
    margin-bottom: 2rem;
}
.success-message {
    background-color: var(--success);
    padding: 2rem 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--main-text-color);
}
.success-message span {
    color: inherit;
}
.success-message > * {
    font-family: inherit;
    font-size: inherit;
}
.success-message--active {
    opacity: 1;
    visibility: visible;
}


.product__block {
    padding: 2rem;
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
    width: fit-content;
}

.product__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 30rem;
    height: 30rem;
    background-color: var(--main-bg-color);
    padding: 1rem;
    border-radius: 2rem;
}
.product__img-box .img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    position: relative;
    border-radius: 2rem;
}
.product__text-box {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}
.product__name {
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
  
}

.product__price {
    font-size: 3rem;
    display: block;
    margin-bottom: 3rem;
    font-family: var(--title-font);
  
}
.product__btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.product__btn-block .btn {
    margin: 0;
}
.product__btn-block .btn--first {
    margin-right: 1.5rem;
} 


.swiper__img {
    display: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
   display: none;
}
.swiper-button-next,
.swiper-button-prev {
   width: 8rem;
   height: 8rem;
   border-radius: 50%;
   background: var(--second-brand-color);

}
.swiper-button-next svg,
.swiper-button-prev svg {
   display: block;
   width: 4rem;
   height: 4rem;
   fill: var(--sub-text-color);
}
.products__box .text {
    margin-bottom: 2rem;
}
.products__box  {
    position: relative;
}
.products__box .btn  {
    margin-bottom: 1rem;
}

@media screen and (min-width: 1440px) { 
    .product__img-box {
        width: 25rem;
        height: 25rem;
    }
}





